{% extends "base.html" %}


 {% block content %}
    <h2>¿Quiénes somos?</h2><p>Somos la Compañía de Seguridad “SEINPRI Cía. Ltda.", la cual nos es grato llegar a usted y poner en consideración nuestros servicios.
-Vigilancia privada y móvil (personas, bienes muebles o inmuebles).
-Custodia
-Investigación
-Protección personal V.I.P.
-Servicios adicionales
-Ventas e instalación): seguridad electrónica, sistemas contra incendio y alarmas, ect.
-Consultoría

Estamos prestos a resolver cualquier duda.</p>
 {% endblock %}



